<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

        <!-- baseline CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/components/bootstrap/css/bootstrap.min.css">

        {% include ga.html %}
    </head>
    <body>
        <header class="container">
            <div class="col-md-12">
                <div class="page-header">
                    <h1><a href="/">{{ site.name }}</a><br>
                    <small>{{ site.tagline }}</small></h1>
                </div>
            </div>
        </header>
        <div class="container">
            {{ content }}
        </div> <!-- /container -->
    </body>
</html>
