<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

        <!-- baseline CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">

        {% include ga.html %}
    </head>
    <body>
        <header class="container">
            <div class="col-md-12">
                <div class="page-header">
                    <h1><a href="/">{{ site.name }}</a><br>
                    <small>{{ site.tagline }}</small></h1>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="contact col-md-3">
                <dl>
                    <dt>Chris Amico</dt>
                    <dd><a href="mailto:chris@homicidewatch.org">chris@homicidewatch.org</a></dd>
                    <br>
                    <dt>Laura Amico</dt>
                    <dd><a href="mailto:laura@homicidewatch.org">laura@homicidewatch.org</a></dd>
                </dl>

                <h3><a href="/about.html">About us</a></h3>
                <p>We're a small software and consulting company working with news organizations to tell better stories and reach new communities through journalism.</p>
                <hr class="hidden-lg hidden-md">
            </div>
            <div class="readme col-md-9 col-lg-8">
                {{ content }}
            </div>
        </div> <!-- /container -->
        <footer class="container">
            <div class="row">
                <hr>
                <p class="col-md-12 text-muted">
                    &copy; Glass Eye Media LLC {{ site.time|date:"%Y" }}
                </p>
            </div>
        </footer>
    </body>
</html>
